<%- include('../partials/header', { title: pageTitle }) %>

<div style="text-align: center; padding: 4rem 0;">
    <h1>Eroare 403 - Acces Interzis</h1>
    <p>Nu aveți permisiunea necesară pentru a accesa această pagină.</p>
    <a href="/" class="submit-btn" style="display: inline-block; width: auto; margin-top: 1rem;">Înapoi la pagina principală</a>
</div>

<%- include('../partials/footer') %>